<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
   .black
        {
            background-color: rgb(252, 0, 210);
        }
  </style>
</head>
<body>

  <%for(let i=1;i<=total;i++){%>

  <a <%if(id==i){%>class="black"<%}%> href="/pagination?id=<%=i%>&total=<%=total%>"><%= i %></a>
   <%}%> 
   
</body>

</html>
